#finePrint {
    font-style: italic;
}

#infoWindow {
    background-color: rgb(229, 229, 229);
    height: 95%;
    display: inline-block;
}

#container {
    position: absolute;
    height: 95%;
    border: 2px solid #000000;
    perspective: 800px;
    perspective-origin: 50% 200px;
    overflow: hidden;
    display: inline-block;
}

#world {
    position: absolute;
    height: inherit;
    width: inherit;
    transform-style: preserve-3d;
}

.plane {
    position: absolute;
}